@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800;900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-primary: #333;
  --text-secondary: black;
  --text-light: #fff;
  --primary-section: white;
  --input-border: #d8d8da;
  --pass-border: #039543;
  --fail-border: #ff0000;
  --footer-bg: #555;
  --swatch-border: #000;
  --warning-text: #9f6000;
  --warning-bg: #feefb3;
  --warning-link: #c77b09;
  --warning-link-hover: #eb9617;
  --info-text: #059;
  --info-bg: #bef;
}

body {
  font-family: "Inter", sans-serif;
  font-variation-settings: "wght" 450;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

.letter-spacing {
  letter-spacing: -0.045em;
}

section {
  margin-bottom: 4rem;
}

p {
  font-size: 1.25rem;
}

footer {
  background-color: var(--footer-bg);
  color: var(--text-light);
}

footer p {
  text-align: center;
}

.primary {
  background-color: var(--primary-section);
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.25rem 0;
}

.heading {
  margin: 3rem 0;
}

.page-title {
  font-size: 2.9rem;
  font-variation-settings: "wght" 900;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  color: var(--text-secondary);
  text-align: center;
}

.large {
  margin: 0px;
  font-size: 2.5rem;
  font-variation-settings: "wght" 650;
}

.option-tabs {
  width: 100%;
}

.option-tabs button {
  width: 5rem;
  height: 1.5rem;
  border: 1px solid lightgray;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-color: #555;
  color: white;
}

.option-tabs .active {
  transform: scale(1.1);
  position: relative;
  top: -1px;
  left: -4px;
  background-color: lightgray;
  color: black;
}

.option-tabs :first-child.active {
  left: 4px;
}

.dashboard {
  background-color: lightgray;
  padding: 0.5rem;
  height: calc(100% + 1rem);
  padding-bottom: 2rem;
  min-width: 340px;
}

.color-picker {
  width: 100%;
  border: 1px solid black;
  height: 6rem;
  margin-bottom: 1rem;
}

.color-search {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2rem 1fr;
  gap: 1rem;
}

.color-text {
  grid-column: 1;
  grid-row: 1;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.color-names {
  min-height: 10rem;
  background-color: white;
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 5px;
  padding: 1px;
  border: 1px solid lightgray;
}

.search-result {
  border: 1px solid lightgray;
  border-radius: 4px;
  height: minmax(1.5rem, 100%);
}

.outputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 2fr;
  grid-template-rows: repeat(3, 1fr);
  margin-top: -7rem;
  width: 100%;
}

.outputs div {
  text-align: center;
  margin: auto 0;
}

.example {
  grid-column: 1;
}

.result {
  grid-column: 2;
  font-size: 1.5rem;
}

.result + .result {
  grid-column: 3;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.small-text {
  grid-row: 1;
  font-size: 0.75rem;
}

.large-text {
  grid-row: 2;
  font-size: 1.5rem;
}

.graphics {
  grid-row: 3;
}

.ratio-result {
  grid-column: 4;
  grid-row: 1 / 4;
  text-align: center;
  border: 1px solid darkgray;
  background-color: white;
  padding-bottom: 1rem;
}

@media (max-width: 601px) {
  .dashboard {
    padding-bottom: 0;
  }

  .color-search {
    grid-template-columns: 1fr;
  }

  .color-names {
    display: box;
    position: absolute;
    margin-top: 2rem;
    width: 60%;
    background-color: black;
  }

  .outputs {
    margin-top: 0;
    grid-template-columns: repeat(4, 1fr);
  }

  .page-title {
    font-size: 2rem;
  }
}

.error-box {
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
  width: 80%;
}

#warning-box {
  color: var(--warning-text);
  background-color: var(--warning-bg);
}

.error-text {
  font-size: 1rem;
  margin: 5px 20px;
  line-height: 1.5rem;
}

.error-text > i {
  margin-right: 10px;
}

.error-text > a {
  color: var(--warning-link);
}

.error-text > a:hover {
  color: var(--warning-link-hover);
}

.hidden {
  display: none;
}

#info-box {
  color: var(--info-text);
  background-color: var(--info-bg);
}

.swatch-one,
.swatch-two {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0.375rem;
  box-shadow: inset var(--swatch-border) 0 0 0 1px;
  margin: 0.2rem;
}

/* Need to set the swatches with JS */
.swatch-one {
  background-color: white;
}

.swatch-two {
  background-color: black;
}

.secondary .container h2 {
  font-variation-settings: "wght" 800;
}

.secondary .container h3 {
  font-variation-settings: "wght" 650;
}

.secondary .container p {
  font-size: 0.95rem;
  line-height: 1.7em;
}

.secondary .container ul > li {
  font-size: 0.95rem;
  line-height: 1.7em;
}

strong {
  font-variation-settings: "wght" 700;
}

small {
  font-size: 0.9em;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

@media (min-width: 601px) {
  .error-box {
    width: 70%;
  }
}
