*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-primary: #333;
  --text-light: #fff;
  --primary-section: #f3f5f3;
  --input-border: #888;
  --pass-border: #008000;
  --fail-border: #ff0000;
  --footer-bg: #555;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

section {
  margin-bottom: 4rem;
}

p {
  font-size: 1.25rem;
}

input {
  font-size: 1.125rem;
  padding: 1rem;
  width: 15rem;
  height: 1.75rem;
  border-radius: 0.375rem;
  border: 2px solid var(--input-border);
}

footer {
  background-color: var(--footer-bg);
  color: var(--text-light);
}

footer p {
  text-align: center;
}

.primary {
  background-color: var(--primary-section);
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.25rem 0;
}

.page-title {
  font-size: 2rem;
  text-align: center;
}

.large {
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.inputs-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.result-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.ratio-result,
.check-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ratio-result {
  margin-right: 2rem;
}

.input-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-fields {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: flex-start;
}

.swatch-one,
.swatch-two {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
  border-radius: 0.375rem;
}

/* Need to set the swatches with JS */
.swatch-one {
  background-color: blue;
}
.swatch-two {
  background-color: red;
}

.pass,
.fail {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: 50%;
}

.pass {
  border: 3px solid var(--pass-border);
  color: var(--pass-border);
}

.fail {
  border: 3px solid var(--fail-border);
  color: var(--fail-border);
}

@media (min-width: 601px) {
  .page-title {
    font-size: 2.5rem;
  }

  .result-row {
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .inputs-row {
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
  }

  .input-items {
    align-self: center;
  }
}
